@import '../../../default.style.scss';

.register-page {
  font-size: 16px;
  &__card {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fffbe6;
    padding: 0em 5em;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    &__title {
      position: relative;
      text-transform: uppercase;
      font-size: $font-size-large;
      text-align: center;
      margin-top: 5rem;
      color: $color-main;
      .loading-icon {
        position: absolute;
        right: 0;
      }
      div {
        color: #8c8989;
      }
    }
    &__social {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-social {
        border-radius: 50%;
        margin: auto 10px;
        div {
          button {
            border-radius: 50%;
            $size: 40px;
            width: $size;
            height: $size;
            border: none;
            &:hover {
              cursor: pointer;
            }
            &:focus {
              outline: none;
            }
            i {
              text-align: center;
            }
          }
        }
      }
    }
    .text-alternative {
      text-align: center;
      margin-top: 20px;
    }
    &__body {
      margin: 2rem auto !important;
      .register-form-button {
        width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}
