@import "../../../default.style.scss";

.change-password-component {
  font-size: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fffbe6;
  padding: 0em 5em;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  &__title {
    text-transform: uppercase;
    font-size: $font-size-large;
    text-align: center;
    margin-top: 5rem;
    color: $color-main;
    div {
      color: #8c8989;
    }
  }
  .text-alternative {
    margin-top: 20px;
  }
  .change-password-form {
    // margin: 3rem auto;
    width: 400px;
    
    &__bottom {
      display: flex;
      flex-direction: column;
      text-align: center;
      button {
        margin-top: 8px;
        width: fit-content;
        text-align: center;
        margin: 8px auto;
      }

    }
  }
  // &__social {
  //   margin-top: 2rem;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   .btn-social {
  //     // padding: 5px 2px;
  //     border-radius: 50%;
  //     margin: auto 10px;
  //     div {
  //       button {
  //         border-radius: 50%;
  //         $size: 40px;
  //         width: $size;
  //         height: $size;
  //         margin-bottom: 5rem;
  //         &:hover {
  //           cursor: pointer;
  //         }
  //         &:focus {
  //           outline: none;
  //         }
  //         i {
  //           text-align: center;
  //         }
  //       }
  //     }
  //   }
  // }
}
