@import "../../../default.style.scss";
.upload-avatar-wrap {
  border: 1px solid #adacac;
  width: 70vw;
  margin: 20px auto;
  text-align: center;
  .message {
    display: flex;
    .ant-alert {
      margin: auto;
      margin-top: 20px;
    }
  }
  .current-avatar {
    img {
      margin-top: 20px;
      $size: 100px;
      width: $size;
      height: $size;
      border-radius: 50%;
      box-shadow: 0px 3px 6px #00000045;
    }
  }

  .upload-avatar {
    $size-input-width: 400px;
    $size-input-height: 20px;
    margin: 30px auto;
    &__input {
      max-width: $size-input-width;
      border: 1px dashed #505050;
      margin: 20px auto;
      div {
        // width: $size-input-width;
        // height: $size-input-height;
        outline: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100px;
      }
    }
  }
}
