.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-modal-body {
  padding: 0;
}

button:focus {
  outline: none !important;
}

.ant-modal-close-x:focus {
  outline: none;
}

svg {
  vertical-align: initial !important;
}

a.disabled {
  pointer-events: none;
  color: rgba(0,0,0,.25);
}
