$color-main: #faad14;
$color-light: #fffbe6;
$color-dark: #001529;
$color-grey-1: #656565;
$color-grey-2: rgba(0, 0, 0, 0.45);
$color-grey-3: #f9f9f9;
$color-background: #fff295;

// sub color
$color-1: #fffbe6;
$color-2: #fff1b8;
$color-4: #ffd666;
$color-5: #ffc53d;
$color-7: #d48806;
$color-8: #ad6800;
$color-9: #874d00;
$color-10: #613400;

$font-size-large: 2rem;
$font-size-small: 1rem;
$font-size: 1.6rem;

$min-height-page: 80vh;