
<h1>Tổng hợp tài liệu</h1>
<br>
<h3>Thông tin live page</h3>
<ul>
	<li>
		<p>ASR ViSpeech<a href="52.192.163.218:7070">Link</a></p>
	</li>
		<li>
		<p>Event Store ViSpeech<a href="34.87.124.118:2113">Link</a></p>
	</li>
		<li>
		<p>Demo ViSpeech<a href="34.87.124.118:3000">Link</a></p>
	</li>
	<li>
		<p>Github chứa mã nguồn<a href="https://github.com/thanhtinhpas1/ViSpeech">Link</a></p>
	</li>
	<li>
		<p>Trello board<a href="https://trello.com/b/RqjDfVzk">Link</a></p>
	</li>
</ul>
<hr>
<ul>
	<li>
		<p>Google Drive chứa tài liệu:
			<a href="https://drive.google.com/open?id=1LYxmU6UwQta4kB2heC8VUYIrO9uiG_Ip">Link</a>
		</p>
	</li>
	<li>
		<p>Video bảo vệ thử khoá luận:
			<a href="#">Link Youtube <b>(not available)</b> </a>
		</p>
	</li>

	<li>
		<p>Video hướng dẫn cài đặt, sử dụng:
			<a href="#">Link Youtube <b>(not available)</b></a>
		</p>
	</li>

	<li>
		<p>Video demo ứng dụng:
			<a href="#">Link Youtube <b>(not available)</b></a>
		</p>
	</li>

	<li>
		<p>Ứng dụng ViSpeech:
			<a href="#">Mã nguồn  <b>(not available)</b></a>
		</p>
	</li>

	<li>
		<p>Slide thuyết trình bảo vệ:
			<a href="#">(Bản PPTX)  <b>(not available)</b></a>
		</p>
	</li>

	<li>
		<p>Luận văn:
			<a href="#">(Bản PDF) <b>(not available)</b></a>
			<a href="thesic-vispeech.docx">(Bản DOCX)</a>
		</p>
	</li>

	<li>
		<p>Hướng dẫn cài đặt, biên dịch:
			<a href="#">(Bản PDF) <b>(not available)</b></a>
			<a href="#">(Bản DOCX) <b>(not available)</b></a>
		</p>
	</li>

	<li>
		<p>Hướng dẫn triển khai:
			<a href="#">Bản PDF <b>(not available)</b></a>
			<a href="#">Bản DOCX <b>(not available)</b></a>
		</p>
	</li>

	<li>
		<p>Hướng dẫn sử dụng:
			<a href="#">Bản PDF <b>(not available)</b></a>
			<a href="#">Bản DOCX <b>(not available)</b></a>
		</p>
	</li>
</ul>
<hr>
	<h1>Cập nhật quá trình</h1>
	<ul>
		<h2>29-02-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-01-27.zip</a></li>
		<li><a href="release_notes_29-02-2020.txt">release_notes_29-02-2020.txt</a></li>
		<br>
		<h2>06-01-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-01-27.zip</a></li>
		<li><a href="release_notes_2020-01-27.txt">release_notes_06-01-2020.txt</a></li>
		<br>

		<h2>13-01-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-01-27.zip</a></li>
		<li><a href="release_notes_13-01-2020.txt">release_notes_13-01-2020.txt</a></li>

		<br>
		<h2>20-01-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-01-27.zip</a></li>
		<li><a href="release_notes_20-01-2020.txt">release_notes_20-01-2020.txt</a></li>
		<br>

		<h2>27-01-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-01-27.zip</a></li>
		<li><a href="release_notes_2020-01-27.txt">release_notes_27-01-2020.txt</a></li>
		<br>

		<h2>05-02-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-02-05.zip</a></li>
		<li><a href="release_notes_2020-02-05.txt">release_notes_2020-02-05.txt</a></li>

		<br>

		<h2>12-02-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-02-12.zip</a></li>
		<li><a href="release_notes_2020-02-12.txt">release_notes_2020-02-12.txt</a></li>

		<br>

		<h2>19-02-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_2020-02-19.zip</a></li>
		<li><a href="release_notes_2020-02-19.txt">release_notes_2020-02-19.txt</a></li>

		<br>

		<h2>26-02-2020</h2>
		<li><a href="https://drive.google.com/file/d/1tXyAtWyzX9T_6P8K4Q6lmdDr2xrhx1_Q/view">ViSpeech_26_02_2020.zip</a></li>
		<li><a href="release_notes_2020-02-26.txt">release_notes_2020-02-26.txt</a></li>
	</ul>
<hr>

