.admin-statistics-page {
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
  position: relative;
  .ant-tabs-tabpane {
    .card-title {
      text-align: center;
    }
  }
  &__select-type, &__total-select-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    .ant-select {
      // margin-right: 20px;
    }
    .ant-btn {
      // margin-left: 20px;
    }
    .ant-picker {
      .ant-picker-input {
        input {
          text-align: center;
        }
      }
    }
  }
  &__chart {
    width: 90%;
    min-height: 50vh;
    margin-top: 30px;
    .ant-empty {
      margin: 130px 0px;
    }
  }
  &__total-chart {
    width: 90%;
    min-height: 80vh;
    margin-top: 30px;
    .ant-empty {
      margin: 130px 0px;
    }
  }
  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ant-spin {
      i {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .admin-statistics-page {
    &__select-type {
      padding: 0;
    }
    &__total-select-type {
      padding: 0 5%;
    }
  }
}

@media (max-width: 1199px) {
  .admin-statistics-page {
    &__select-type, &__total-select-type {
      padding: 0;
    }
  }
}
