.statistics-page {
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
  position: relative;
  .ant-row {
    justify-content: center;
  }
  .ant-col .card-title {
    text-align: center;
  }
  &__select-type {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .ant-select {
      margin-right: 20px;
    }
    .ant-btn {
      margin-left: 20px;
    }
    .ant-picker {
      .ant-picker-input {
        input {
          text-align: center;
        }
      }
    }
  }
  &__chart {
    width: 100%;
    min-height: 250px;
    margin-top: 30px;
    .ant-empty {
      margin: 130px 0px;
    }
  }
  &__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ant-spin {
      i {
        font-size: 40px;
      }
    }
  }
}
