@import '.././../../default.style.scss';

.active-email-page {
    padding-top: 30vh;
    text-align: center;
    &__title {
    text-transform: uppercase;
    font-size: $font-size-large;
    text-align: center;
    padding-top: 5rem;
    color: $color-main;
  }
    &__btns{
    margin-top: 10px;
    text-align: center;
    div{
      margin: 5px auto;
    }
  }
}