@import "../../../default.style.scss";

.reset-password-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  .btn-back-home{
    margin-top: 20px;
  }
  &__title {
    text-transform: uppercase;
    font-size: $font-size-large;
    text-align: center;
    margin-top: 5rem;
    color: $color-main;
  }
  .reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    input {
      min-width: 300px;
    }
  }
  &__btns{
    margin-top: 10px;
    text-align: center;
    div{
      margin: 5px auto;
    }
  }

}
